services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
      - mysql
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/bia
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/bia?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: admin

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - /c/docker-share:/docker-import
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: bia
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - /c/docker-share:/docker-import

volumes:
  mongo-data:
  mysql-data:

