
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #2c3e50;
    scroll-behavior: smooth;
}


.formulario {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.campo {
    position: relative;
    margin-bottom: 20px;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 1rem;
    color: #2c3e50;
}

.campo label {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1rem;
    color: #7f8c8d;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.campo input:focus + label,
.campo input:not(:placeholder-shown) + label {
    top: -15px;
    font-size: 0.8rem;
    color: #27ae60;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e8449;
}
