<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLab - Libros Virtuales</title>
    <link rel="stylesheet" href="/estilos/virtual.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <h1>BookLab <span>Biblioteca</span></h1>
        </div>
        <ul class="nav-links">
            <li><a href="/api/index">Inicio</a></li>
            <li><a href="/api/librosVirtuales">Libros virtuales</a></li>
        </ul>
    </nav>
</header>

<section class="section coleccion" id="coleccion">
    <h2 class="section-title">Libros Disponibles para Descargar</h2>
    <p class="section-subtitle">Accede a nuestra selección de libros virtuales</p>
    <div class="shop-container">
        <div class="shop-item">
            <img src="/img/libro1.jpeg" alt="Libro 1">
            <h3>El Gran Libro del Conocimiento</h3>
            <p>Una exploración profunda de los temas más importantes.</p>
            <a href="/api/login" class="btn">Leer</a>
        </div>
        <div class="shop-item">
            <img src="/img/reyes.jpeg" alt="Libro 2">
            <h3>Misterios del Universo</h3>
            <p>Una guía fascinante sobre los secretos del cosmos.</p>
            <a href="/api/login" class="btn">Leer</a>
        </div>
        <div class="shop-item">
            <img src="/img/libro3.jpeg" alt="Libro 3">
            <h3>Historias de la Antigua Civilización</h3>
            <p>Relatos impresionantes sobre las primeras sociedades humanas.</p>
            <a href="/api/login" class="btn">Leer</a>
        </div>
        <div class="shop-item">
            <img src="/img/d3.jpeg" alt="Libro 4">
            <h3>Aventuras de la Ciencia</h3>
            <p>Exploraciones asombrosas en el mundo de la física moderna.</p>
            <a href="/api/login" class="btn">Leer</a>
        </div>
        <div class="shop-item">
            <img src="/img/d1.png" alt="Libro 5">
            <h3>Aventuras de la Ciencia</h3>
            <p>Exploraciones asombrosas en el mundo de la física moderna.</p>
            <a href="/api/login" class="btn">Leer</a>
        </div>
        <div class="shop-item">
            <img src="/img/d5.jpeg" alt="Libro 6">
            <h3>Aventuras de la Ciencia</h3>
            <p>Exploraciones asombrosas en el mundo de la física moderna.</p>
            <a href="/api/login" class="btn">Leer</a>
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2024 NexGet Biblioteca. Todos los derechos reservados.</p>
</footer>

</body>
</html>
