<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página No Disponible</title>
  <link rel="stylesheet" href="/estilos/no.css">
</head>
<body>
<div class="pagina-no-disponible">
  <div class="mensaje">
    <h2>Esta página aún no está disponible</h2>
    <p>Te regresamos al inicio en 5 segundos o puedes hacer clic en el siguiente enlace para volver al inicio:</p>
    <a href="/api/" class="btn">Volver al inicio</a>
  </div>
</div>
</body>
</html>
